* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000b7;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #1f1e21;
}

@font-face {
  font-family: regular;
  src: url(/Fonts/Gilroy-Regular.woff2);
}

@font-face {
  font-family: bold;
  src: url(/Fonts/Gilroy-Bold.woff2);
}

@font-face {
  font-family: black;
  src: url(/Fonts/Gilroy-Black.woff2);
}

@font-face {
  font-family: akira;
  src: url(/Fonts/Akira\ Expanded\ Demo.otf);
}

.main {
  position: relative;
  width: 100%;
  background-color: #1f1e21;
  /* font-family: gilroy; */
  overflow-x: hidden;
  cursor: none;
}

.mouse-follower {
  z-index: 10;
  display: none;
  --circle-size: 40px;
  position: fixed;
  height: var(--circle-size);
  width: var(--circle-size);
  border: 1px solid white;
  border-radius: 100%;
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
}

.loder {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #ccc3ba;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  overflow: hidden;
}

.loder > img {
  animation: blink 1.5s linear infinite alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.loder > h1 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 8vw;
  font-weight: 500;
  color: #000;
  font-family: regular;
}

.page1 {
  position: relative;
  height: 100vh;
  width: 100%;
}

nav {
  position: relative;
  padding: 1vw 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > h3 {
  font-size: 1.5vw;
  color: #92a4b1;
  transition: all ease 0.5s;
  cursor: pointer;
  letter-spacing: 2px;
  /* font-family: bold; */
  font-family: akira;
  font-weight: 500;
}

nav > h3:hover {
  color: #fff;
}

nav > a {
  padding: 0.5vw 1vw;
  color: #dadada;
  border: 1px solid #fff;
  font-size: 0.8vw;
  font-weight: 600;
  border-radius: 0.5vw;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease 0.2s;
  font-family: bold;
}

.page1-main {
  position: relative;
  height: 91.8vh;
  width: 100%;
  display: flex;
}

.page1-main-left {
  position: relative;
  height: 100%;
  width: 50%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4vw;
}

.overflow-hidden-overlay {
  overflow: hidden;
}

.overflow-hidden-overlay > h1 {
  font-size: 5vw;
  font-weight: 900;
  letter-spacing: 2px;
  -webkit-text-stroke: 1px #ffffff;
  /* font-family: black; */
  font-family: akira;
  line-height: 1;
}

.float {
  color: #92a4b1;
  background-position: 0 0;
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

.hardik-dets {
  position: relative;
  padding: 0.2vw;
  background-color: #92a4b1;
  width: 83%;
  margin-top: 1vw;
}

.hardik-dets > h3 {
  font-weight: 300;
  font-size: 1.3vw;
  position: relative;
  font-family: regular;
}

.hardik-dets > h3::after {
  background-image: url("https://www.just-a-web-developer.com/wp-content/uploads/my-hobby.svg");
  background-repeat: no-repeat;
  background-size: 188px 61px;
  display: inline-block;
  width: 10vw;
  height: 3vw;
  content: "";
  position: absolute;
  right: -4vw;
  margin-top: 2.5vw;
}

.page1-main-right {
  position: relative;
  height: 100%;
  width: 50%;
  /* overflow: hidden; */
}

.page1-circle {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #262427;
  border-radius: 50%;
  margin-top: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page1-circle > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
  position: relative;
  top: -7%;
}

.page1-circle > img:hover {
  filter: drop-shadow(10px 10px 20px #92a4b1);
}

.page2 {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 2vw 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page2 > h1 {
  color: #1f1e21;
  font-weight: 900;
  font-size: 10vw;
  width: 75%;
  line-height: 1;
  font-family: black;
}

.page3 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 6vw 4vw;
  /* background-color: #92a4b1; */
}

.page3-left {
  position: relative;
  height: 100%;
  width: 63.5%;
  display: flex;
  justify-content: space-between;
}

.page3-left-part1 {
  position: relative;
  height: 100%;
  width: 48.5%;
  overflow: hidden;
}

.page3-left-part1 > img {
  border-radius: 1vw;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
}

.page3-left-part2 {
  position: relative;
  height: 100%;
  width: 48.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page3-left-part2-top {
  position: relative;
  height: 48.5%;
  width: 100%;
  border-radius: 1vw;
  overflow: hidden;
}

.page3-left-part2-bottom {
  position: relative;
  height: 48.5%;
  width: 100%;
  border-radius: 1vw;
  overflow: hidden;
}

.page3-left-part2-bottom > img {
  object-position: 50% 25%;
}

.page3-left-part2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
}

.page3-right {
  position: relative;
  height: 100%;
  width: 33.5%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.page3-right p {
  color: #fff;
  font-size: 1.1vw;
  line-height: 1.3;
  margin-bottom: 2vw;
  font-family: regular;
}

.page3-right p:nth-child(2) {
  opacity: 0.9;
}

.page3-right p:nth-child(3) {
  opacity: 0.7;
}

.page3-right p:nth-child(4) {
  opacity: 0.6;
}

.page4 {
  position: relative;
  height: 30vh;
  width: 100%;
  /* background-color: #92a4b1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5vw;
  font-family: regular;
}

.page4 > h6 {
  font-size: 1vw;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  opacity: 0.9;
}

.page4-tools {
  display: flex;
  align-items: center;
  gap: 6vw;
  margin-right: 8vw;
}

.page4-tools > h1 {
  color: #fff;
  font-weight: 500;
  opacity: 0.9;
}

.page4-tools > i {
  font-size: 3vw;
  color: #92a4b1;
}

.page4-tools > img {
  height: 3vw;
}

.libraries {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.libraries a {
  text-decoration: none;
  color: #92a4b1;
  margin-top: 0.5vw;
  transition: all ease 0.5s;
}

.libraries a :hover {
  color: #dadada;
}

.libraries > h1 {
  color: #fff;
  font-weight: 500;
  opacity: 0.9;
}

.libraries > h3:hover {
  color: rgb(204, 159, 34);
}

.page5 {
  position: relative;
  height: 100vh;
  width: 100%;
  /* background-color: #92a4b1; */
  padding: 4vw;
}

.page5 > h1 {
  font-size: 4vw;
  font-weight: 900;
  color: #fff;
  font-family: black;
}

.page5 > p {
  color: #dadada;
  margin-top: 1vw;
  font-size: 1vw;
  width: 30%;
  font-family: regular;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 6vw;
}

.swiper-slide {
  width: 50vh;
  height: 40vh;
  border-radius: 1vw;
  overflow: hidden;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-slide video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.video-cursor {
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  z-index: 9;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #92a4b1;
}

.swiper-button-prev:after {
  margin-right: 1.1vw;
}

.swiper-button-next:after {
  margin-left: 1.1vw;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
  background-color: #92a4b1;
}

.page6 {
  position: relative;
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.page6-elem {
  position: relative;
  text-align: center;
}

.page6-elem > h3 {
  color: #dadada;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.5vw;
  font-family: bold;
}

.page6-elem > h1 {
  font-size: 6vw;
  color: transparent;
  font-family: black;
  -webkit-text-stroke: 2px #92a4b1;
}

footer {
  position: relative;
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 0.5vw;
}

.footer-icons {
  display: flex;
  gap: 1.2vw;
}

.footer-icons > a {
  text-decoration: none;
  color: #fff;
  background-color: #92a4b1;
  padding: 0.5vw;
  font-size: 1.2vw;
  border-radius: 50%;
  transition: all ease 0.3s;
}

.footer-icons > a:nth-child(1):hover {
  color: rgb(21, 94, 220);
}

.footer-icons > a:nth-child(2):hover,
a:nth-child(4):hover {
  color: #1f1e21;
}

.footer-icons > a:nth-child(3):hover {
  color: #bd0a0a;
}

footer > p {
  color: #dadada;
  margin-top: 1vw;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  font-size: 0.7vw;
  font-family: regular;
}

footer > p > i {
  color: #92a4b1;
  font-size: 1.3vw;
}

.threejs {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .hardik-dets > h3::after {
    width: 16vw;
    height: 5vw;
    right: -8vw;
  }
}

@media (max-width: 1200px) {
  .hardik-dets > h3::after {
    width: 20vw;
    height: 8vw;
    right: -10vw;
  }

  nav > a {
    font-size: 1vw;
  }

  .page3-right p {
    font-size: 1.4vw;
  }

  .page4 > h6 {
    font-size: 1.2vw;
  }

  .page4-tools > h1 {
    font-size: 2.2vw;
  }

  .libraries > h1 {
    font-size: 2.2vw;
  }

  .libraries > a {
    font-size: 1.2vw;
  }

  .page5 > p {
    font-size: 1.2vw;
  }

  footer > p {
    font-size: 1vw;
  }
}

@media (max-width: 992px) {
  .hardik-dets > h3::after {
    width: 24vw;
    height: 10vw;
    right: -8vw;
    background-size: 188px 45px;
  }

  nav > a {
    font-size: 1.5vw;
    border-radius: 1vw;
  }

  nav > h3 {
    font-size: 2.5vw;
  }

  .page1-main-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page1-main-left > h1 {
    font-size: 6vw;
    line-height: 1;
    margin-bottom: 1vw;
  }

  .hardik-dets > h3 {
    font-size: 1.8vw;
  }

  .page2 > h1 {
    font-size: 12vw;
    width: 85%;
  }

  .page3-right p {
    font-size: 1.7vw;
  }

  .page4 > h6 {
    font-size: 2vw;
  }

  .page4-tools > h1 {
    font-size: 2.2vw;
  }

  .libraries > h1 {
    font-size: 2.2vw;
  }

  .libraries > a {
    font-size: 1.3vw;
  }

  .page5 {
    height: 85vh;
  }

  .page5 > h1 {
    font-size: 5vw;
  }

  .page5 > p {
    font-size: 1.8vw;
    width: 50%;
  }

  .swiper-3d .swiper-cube-shadow,
  .swiper-3d .swiper-slide {
    width: 280px;
  }

  .page6-elem > h3 {
    font-size: 2.2vw;
  }

  .page6-elem > h1 {
    font-size: 10vw;
  }

  .footer-icons > a {
    padding: 1vw;
    font-size: 2.2vw;
  }

  footer {
    height: 15vh;
  }

  footer > p {
    font-size: 1.6vw;
  }

  .ri-heart-fill {
    font-size: 1.8vw;
    margin-left: 0.3vw;
  }
}

@media (max-width: 768px) {
  nav {
    padding-top: 2vw;
  }

  .page1-main {
    flex-direction: column-reverse;
    margin-top: 4vw;
  }

  .page1-main-left {
    height: 45%;
    width: 100%;
    justify-content: start;
    margin-left: 6vw;
    padding-top: 6vw;
  }

  .page1-main-left > h1 {
    font-size: 8vw;
  }

  .hardik-dets {
    margin-top: 1vw;
  }

  .hardik-dets > h3 {
    font-size: 2.8vw;
  }

  .hardik-dets > h3::after {
    right: -9vw;
    width: 30vw;
    background-size: 188px 55px;
    margin-top: 5vw;
  }

  .page1-circle {
    height: 65vh;
    width: 65vh;
  }

  .page1-main-right {
    width: 100%;
  }

  .page3 {
    flex-direction: column;
  }

  .page3-left {
    height: 60%;
    width: 100%;
  }

  .page3-right {
    height: 40%;
    width: 100%;
    margin-top: 2vw;
  }

  .page3-right p {
    font-size: 2vw;
  }

  .page4-tools > h1 {
    font-size: 2.5vw;
  }

  .page4-tools > i {
    font-size: 4vw;
  }

  .page4-tools > img {
    height: 4vw;
  }

  .libraries {
    flex-wrap: wrap;
  }

  .libraries > h1 {
    font-size: 2.5vw;
  }

  .libraries > a {
    font-size: 1.5vw;
  }

  .page5 {
    height: 85vh;
    padding-top: 8vw;
  }

  .page5 > h1 {
    font-size: 7vw;
  }

  .page5 > p {
    font-size: 2vw;
  }

  .page6 {
    height: 25vh;
  }

  .swiper-3d .swiper-cube-shadow,
  .swiper-3d .swiper-slide {
    width: 250px !important;
    height: 200px;
  }

  .swiper-slide {
    height: 25vh;
  }
}

@media (max-width: 600px) {
  .loder > h1 {
    bottom: 15%;
  }

  .loder > img {
    height: 50vh;
    width: 50vh;
  }

  nav > h3 {
    font-size: 3.5vw;
  }

  nav > a {
    font-size: 3vw;
  }

  .page1-main {
    margin-top: 12vw;
  }

  .hardik-dets {
    margin-top: 2vw;
  }

  .hardik-dets > h3::after {
    right: 4vw;
    background-size: 110px 40px;
  }

  .page2 {
    height: 70vh;
  }

  .page3-right p {
    font-size: 2.5vw;
  }

  .page4 > h6 {
    font-size: 3vw;
  }

  .page4-tools > h1 {
    font-size: 3vw;
  }

  .page4-tools > i {
    font-size: 5vw;
  }

  .page4-tools > img {
    height: 5vw;
  }

  .libraries > h1 {
    font-size: 3vw;
  }

  .libraries > a {
    font-size: 2vw;
    margin-left: 4vw;
  }

  .page5 {
    height: 60vh;
  }

  .page6-elem > h3 {
    font-size: 2.5vw;
  }

  .page6-elem > h1 {
    font-size: 14vw;
  }

  footer {
    height: 10vh;
  }

  .footer-icons > a {
    padding: 1.5vw;
    font-size: 3.2vw;
  }

  footer > p {
    font-size: 2.6vw;
  }

  .ri-heart-fill {
    font-size: 3.5vw;
  }
}
